<div>
    <div>
        <img src="" alt="">
    </div>
    <div class="table">
        <div class="tr">
            <div class="td">Title</div>
            <div class="td"><input type="text" value=""></div>
        </div>
        <div class="tr">
            <div class="td">Tag</div>
            <div class="td"><input type="text" value=""></div>
        </div>
        <div class="tr">
            <div class="td">Date</div>
            <div class="td"><input type="date" value=""></div>
        </div>
        <div class="tr">
            <div class="td">Status</div>
            <div class="td"><input type="date" value=""></div>
        </div>
        <div class="tr">
            <div class="td">User Reviews</div>
            <div class="td"><input type="date" value=""></div>
        </div>
        <div class="tr">
            <div class="td">Img</div>
            <div class="td"><input type="date" value=""></div>
        </div>
        <div class="tr">
            <div class="td">Stock</div>
            <div class="td"><input type="date" value=""></div>
        </div>
    </div>
</div>