<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/login.css">
    

<body>

    <%- include('partials/header',({"user":user})); %>

    <div class="main-container login-main">
        <h1 id="title" style="color: white;font-style: malvo-font-thin;font-weight: 200;">SIGN IN</h1>
        <div class="form-container">
            <div id="inner-container">
                <p class="login-text blue-text">SIGN IN WITH ACCOUNT NAME</p>
                <input class="input-form" id="userName" name="userName" type="text" autocomplete="off" required>
                <p class="login-text">PASSWORD</p>
                <input class="input-form" name="password" id="password" type="password" autocomplete="off" required>
                <button id="submit-login" class="submit-btn submit">Sign in</button>
                <p id="err-msg">Please check your password and account name and try again.</p>
                <a href="/help" id="help-link">Help, I can't sign in</a>
            </div>
            <img class="form-img" src="/image/login/master_chief.jpg" alt="">
        </div>
    </div>
    <div class="footer">
        <div class="text-div">
            <p class="dark-text">JOIN Steam and discover thousands of games to play.</p>
            <a class="h-link-white-blue" href="/info">Learn More</a>
        </div>
        <img id="footer-img" src="/image/login/join_pc.png" alt="">
        <div class="btn-cluster">
            <button id="join-btn">Join Steam</button>
            <p class="dark-text">It's free and easy to use.</p>
        </div>
    </div>
</body>
<script src="/javascript/login.js" type="module"></script>
</html>