<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/admin.css">
</head>
<body style="height: 100vh;">
    <%- include('partials/adminUpdate',({"title":"Update","action":`/adminDashboard/updateProduct/${item.id}`,"prevTitle":`${item.title}`,"prevTags":`${item.tag.join(" ")}`,"prevDate":`${item.date}`,"prevStatus":`${item.status}`,"prevRating":`${item.userReviews}`,"prevStock":`${item.stock}`,"about":`${item['about-game']}`})) %>
</body>
</html>