body{
    background-color: #1b2839;
    background: linear-gradient(to bottom right, #1b2839, #070a0e);
}

.main-container{
    height: calc( 100vh - 58px);
    overflow: scroll;
}

.container{
    box-sizing: border-box;
    margin: auto;
    max-width: 800px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
}


#addNewProduct{
    width: 50px;
    height: 50px;
    background-color: #c5c3c0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#addNewProduct:hover{
    cursor: pointer;
    background: #e7e5e2
}

#addNewProduct:active{
    background: #c5c3c0;
}
.buttonline{
    background-color: #070b0f;
    border-radius: 7px;
    position: absolute;
}
#vertical{
    height: 40px;
    width: 10px;
}
#horizontal{
    height: 10px;
    width: 40px;
}

.table{
    display: table;
}
.td{
    
    border-left: 50px;
}
.tr{
    display: table-row;
}

.tr > .td:first-child{
    border: 0px;
}

.td{
    display: table-cell;
    padding-left: 10px;
    box-sizing: border-box;
}

.product-container{
    display: grid;
    box-sizing: border-box;
    margin: auto;
    color: white;
    grid-template-columns: repeat(auto-fit,minmax(500px, 1fr) );
    padding: 20px; 
}

.admin-item-container{
    margin:0 auto;
    margin-bottom: 30px;
    width: 460px;
}


.admin-btn-cluster{
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-btn{
    background-color: blue;
    outline: transparent;
    border: none;
    height: 40px;
    flex: 1;
}
.delete-btn{
    background-color: red;
    outline: transparent;
    border: none;
    height: 40px;
    flex: 1;
}
