body{
    background: linear-gradient(to right  ,  #1b2838  454px , #1b2838 calc( 50% + 454px ), black);
    /* background: radial-gradient(#1b2838 50vh, black 50vh); */
    /* background-repeat: no-repeat; */
    /* background: radial-gradient(#e66465, #9198e5); */
}

.main-container{
    max-width: 908px;
    margin: auto;
}
h2{
    color: white;
    font-weight: 100;
}

.container{
    margin-top: 10vh;
    background-color: #111d2c;
    height: 281px;
    width: 540px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
}

.input-form{
    width: 400px;
}

.submit-btn{
    background-color: #264963;
    color: #6abcf0;
    border-radius: 0px;
    width: fit-content;
    padding: 10px 15px;
    margin: 0px;
    margin-right: auto;
    font-weight: 200;
}

.submit-btn:hover{
    color: white;
    
}